body {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/assets/images/wp1966211.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
.container{
    display: flex;
    flex-direction: row;
}